.container {
  /* border: 2px solid green; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 10px;
  min-height: 80vh;
}
.pagination {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  font-size: 1rem;
  font-weight: 500;
  height: 80vh;
}
@media only screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}
@media only screen and (max-width: 400px) {
  .container {
    grid-template-columns: 1fr 1fr ;
  }
}
