
.icon {
  padding: 10px;
  font-size: 1.5rem;
}
.icon:hover{
  cursor: pointer;
  font-weight: bolder;
}
.banner {
  /* border: 2px solid red ; */
  padding: 2rem;
}
.content {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.2rem;
  font-weight: 500;
}
.name {
  font-size: 4rem;
}
.rating {
  font-size: 2rem;
  display: flex;
  align-items: center;
  width: 8%;
  justify-content: space-evenly;
}
.year {
  margin-top: 20px;
  font-weight: 500;
  font-size: 2rem;
}
.description {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

@media only screen and (max-width: 900px) {
  .name {
    font-size: 3rem;
  }
  .rating {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 700px) {
  .name {
    font-size: 2.5rem;
  }
  .rating {
    font-size: 1.2rem;
  }
  .description {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 400px) {
  .name {
    font-size: 2rem;
  }
  .rating {
    font-size: 1rem;
  }
}
